.menu {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.button {
  padding: 10px;
  cursor: pointer;
}
.line {
  position: relative;
  width: 100%;
  margin: 10px;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
}
.item {
  display: inline-block;
  flex: 1 1 auto;
  border: 1px solid black;
}
.thumb {
  position: absolute;
  background-color: red;
  width: 10px;
  height: 10px;
}
