.my-node-enter {
  opacity: 0;
  transform: translateY(5px);
}
.my-node-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: 1000ms cubic-bezier(0.77, -0.335, 0.15, 1.37);
}
.my-node-exit {
  opacity: 0;
  transition: 200ms;
}
.my-node-exit-active {
  opacity: 0;
  transition: 200ms;
}
